.center{
    text-align: center;
}
.bg{
    background-color: blue;
}
.mar-auto{
    margin: auto;
}
 
.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;
}